In [ ]:
#pip install pandas-profiling

### Perform EDA In the Best Possible Way Using Pandas Profiling

In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
from sklearn.datasets import load_diabetes

In [3]:
diab_data = load_diabetes()

In [4]:
df = pd.DataFrame(data=diab_data.data,columns=diab_data.feature_names)

In [5]:
df.head()
#no missing values
#normalized data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [6]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [7]:
### To Create the simple Report quickly

profile = ProfileReport(df,title = "Pandas Profiling Report",explorative=True)

Two ways to create report:

- using to_widgets()
- output html

In [8]:
profile.to_widgets()
#we can do reverse engneering by learning what all things pandas profiling does for data analysis

Summarize dataset: 100%|██████████| 104/104 [00:33<00:00,  3.13it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.45s/it]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [11]:
profile.to_file("output.html")

Export report to file: 100%|██████████| 1/1 [00:00<00:00, 51.80it/s]

### Titanic Dataset

analyzing with missing values

In [13]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
### To Create the simple Report quickly

profile = ProfileReport(df,title = "Pandas Profiling Report",explorative=True)

In [15]:
profile.to_widgets()
#High cardinality refers to a column that can have many possible values

Summarize dataset: 100%|██████████| 52/52 [00:19<00:00,  2.67it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.13s/it]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [16]:
profile.to_file("output1.html")

Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.05s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  2.69it/s]